<div class="container">
    <div class="day-block">
        <div class="day">today</div>
        <div class="task-info">
            <div class="task">
                <div class="task-name">Move multipurpose template</div>
                <div class="project">Tuscot</div>
            </div>
            <div class="details">
                <div class="attachments">
                    <svg class="icon" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7646 3.0152C9.98576 2.23635 8.72299 2.23635 7.94413 3.0152L4.18348 6.77585C3.92387 7.03547 3.92387 7.45639 4.18348 7.71601C4.4431 7.97563 4.86403 7.97563 5.12365 7.71601L8.88429 3.95536C9.14391 3.69574 9.56484 3.69574 9.82446 3.95536C10.0841 4.21498 10.0841 4.63591 9.82446 4.89552L6.06381 8.65617C5.28495 9.43503 4.02218 9.43503 3.24332 8.65617C2.46447 7.87732 2.46447 6.61454 3.24332 5.83569L7.00397 2.07504C8.30206 0.776946 10.4067 0.776946 11.7048 2.07504C13.0029 3.37313 13.0029 5.47776 11.7048 6.77585L7.94413 10.5365C6.1268 12.3538 3.18033 12.3538 1.363 10.5365C-0.454332 8.71917 -0.454332 5.77269 1.363 3.95536L5.12365 0.194714C5.38326 -0.0649047 5.80419 -0.0649047 6.06381 0.194714C6.32343 0.454333 6.32343 0.875258 6.06381 1.13488L2.30316 4.89553C1.00507 6.19362 1.00507 8.29824 2.30316 9.59634C3.60125 10.8944 5.70588 10.8944 7.00397 9.59634L10.7646 5.83569C11.5435 5.05683 11.5435 3.79406 10.7646 3.0152Z"/>
                    </svg>
                    <span class="number">21</span>
                </div>
                <div class="remaining">
                    <img src="assets/img/time.png" alt="Time" class="time">
                    <span class="text">15 days left</span>
                </div>
                <div class="progress">Progress... 74%</div>
            </div>
            <ul class="people">
                <li class="avatar"></li>
                <li class="avatar"></li>
                <li class="avatar"></li>
                <li class="avatar"></li>
                <li class="more">+2</li>
            </ul>
        </div>
        <div class="message">
            <div class="portrait"></div>
            <div class="body">
                <div class="heading">Bogdan Krivenchenko <span class="commented">Commented on task:</span></div>
                <div class="comment">Guys I added dark theme support to our product</div>
                <div class="tasks"></div>
            </div>
            <div class="time">08:33</div>
        </div>
        <div class="message">
            <div class="portrait"></div>
            <div class="body">
                <div class="heading">Bogdan Krivenchenko <span class="commented">Commented on task:</span></div>
                <div class="comment"></div>
                <div class="tasks">
                    <div class="task-message">
                        <img src="assets/img/done.png" alt="Done" class="done">
                        <div class="task-name">Unisense</div>
                        <div class="task-description">Created 4 new land pages</div>
                    </div>
                    <div class="task-message">
                        <img src="assets/img/done.png" alt="Done" class="done">
                        <div class="task-name">Unisense</div>
                        <div class="task-description">Fixed a visual bug with shadows in Figma</div>
                    </div>
                </div>
            </div>
            <div class="time">08:33</div>
        </div>
    </div>
    <div class="day-block">
        <div class="day">yesterday</div>
        <div class="task-info">
            <div class="task">
                <div class="task-name">Move multipurpose template</div>
                <div class="project">Tuscot</div>
            </div>
            <div class="details">
                <div class="attachments">
                    <svg class="icon" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7646 3.0152C9.98576 2.23635 8.72299 2.23635 7.94413 3.0152L4.18348 6.77585C3.92387 7.03547 3.92387 7.45639 4.18348 7.71601C4.4431 7.97563 4.86403 7.97563 5.12365 7.71601L8.88429 3.95536C9.14391 3.69574 9.56484 3.69574 9.82446 3.95536C10.0841 4.21498 10.0841 4.63591 9.82446 4.89552L6.06381 8.65617C5.28495 9.43503 4.02218 9.43503 3.24332 8.65617C2.46447 7.87732 2.46447 6.61454 3.24332 5.83569L7.00397 2.07504C8.30206 0.776946 10.4067 0.776946 11.7048 2.07504C13.0029 3.37313 13.0029 5.47776 11.7048 6.77585L7.94413 10.5365C6.1268 12.3538 3.18033 12.3538 1.363 10.5365C-0.454332 8.71917 -0.454332 5.77269 1.363 3.95536L5.12365 0.194714C5.38326 -0.0649047 5.80419 -0.0649047 6.06381 0.194714C6.32343 0.454333 6.32343 0.875258 6.06381 1.13488L2.30316 4.89553C1.00507 6.19362 1.00507 8.29824 2.30316 9.59634C3.60125 10.8944 5.70588 10.8944 7.00397 9.59634L10.7646 5.83569C11.5435 5.05683 11.5435 3.79406 10.7646 3.0152Z"/>
                    </svg>
                    <span class="number">21</span>
                </div>
                <div class="remaining">
                    <img src="assets/img/time.png" alt="Time" class="time">
                    <span class="text">15 days left</span>
                </div>
                <div class="progress">Progress... 74%</div>
            </div>  
            <ul class="people">
                <li class="avatar"></li>
                <li class="avatar"></li>
                <li class="avatar"></li>
                <li class="avatar"></li>
                <li class="more">+2</li>
            </ul>
        </div>
        <div class="message">
            <div class="portrait"></div>
            <div class="body">
                <div class="heading">Bogdan Krivenchenko <span class="commented">commented on task:</span></div>
                <div class="comment">Guys I added dark theme support to our product</div>
                <div class="tasks"></div>
            </div>
        </div>
        <div class="message">
            <div class="portrait"></div>
            <div class="body">
                <div class="heading">Bogdan Krivenchenko <span class="commented">commented on task:</span></div>
                <div class="comment"></div>
                <div class="tasks">
                    <div class="task-message">
                        <img src="assets/img/done.png" alt="Done" class="done">
                        <div class="task-name">Unisense</div>
                        <div class="task-description">Created 4 new land pages</div>
                    </div>
                    <div class="task-message">
                        <img src="assets/img/done.png" alt="Done" class="done">
                        <div class="task-name">Unisense</div>
                        <div class="task-description">Fixed a visual bug with shadows in Figma</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
