<div class="container">
    <div class="header">
        <div class="kpi">
            <div class="kpi-icon">
            </div>
            <div class="title">Total Employees</div>
            <div class="figures">55</div>
        </div>
        <div class="kpi">
            <div class="kpi-icon">
            </div>
            <div class="title">Total Tasks</div>
            <div class="figures">2.106</div>
            <div class="month-pct">
                <span class="pct">+15%</span><span class="text">This month</span>
            </div>
        </div>
        <div class="kpi">
            <div class="kpi-icon">
            </div>
            <div class="title">Completed Tasks</div>
            <div class="figures">2.056</div>
            <div class="month-pct">
                <span class="pct">+35%</span><span class="text">This month</span>
            </div>
        </div>
        <div class="kpi">
            <div class="kpi-icon">
            </div>
            <div class="title">Incompleted Tasks</div>
            <div class="figures">60</div>
            <div class="month-pct">
                <span class="pct">+12%</span><span class="text">This month</span>
            </div>
        </div>
        <div class="task-target">
            <div class="title">Task Target: Actual vs Prediction</div>
            <div class="graph"></div>
        </div>
    </div>
    <div class="body">
        <div class="graph-block">
            <div class="title">
                Complete Task Target
            </div>
            <div class="circle">

            </div>
            <div class="summary">
                <div class="icon">

                </div>
                <div class="description">
                    <div class="title">Completed Tasks</div>
                    <div class="text">Global</div>
                </div>
                <div class="figures">455</div>
            </div>
        </div>
        <div class="graph-block">
            <div class="title">
                Task Count
            </div>
            <div class="bars">

            </div>
            <div class="summary">
                <div class="icon">

                </div>
                <div class="description">
                    <div class="title">Expansion Europo</div>
                    <div class="text">Global</div>
                </div>
                <div class="figures">245</div>
            </div>
            <div class="summary">
                <div class="icon">

                </div>
                <div class="description">
                    <div class="title">Payment Promo</div>
                    <div class="text">Commercial</div>
                </div>
                <div class="figures">122</div>
            </div>
        </div>
        <div class="employees">
            <div class="header">Top Employees</div>
            <div class="row">
                <div class="avatar">
                    <div class="icon"></div>
                    <div class="name">Rudolph G.</div>
                </div>
                <div class="job">Product Designer</div>
                <div class="tasks">205 tasks</div>
                <div class="points">1.410 pts</div>
            </div>
            <div class="row">
                <div class="avatar">
                    <div class="icon"></div>
                    <div class="name">Anna F</div>
                </div>
                <div class="job">Frontend Engineer</div>
                <div class="tasks">194 tasks</div>
                <div class="points">1.230 pts</div>
            </div>
            <div class="row">
                <div class="avatar">
                    <div class="icon"></div>
                    <div class="name">Marco D. G.</div>
                </div>
                <div class="job">Social Media</div>
                <div class="tasks">180 tasks</div>
                <div class="points">1.050 pts</div>
            </div>
            <div class="row">
                <div class="avatar">
                    <div class="icon"></div>
                    <div class="name">Robert X</div>
                </div>
                <div class="job">Growth</div>
                <div class="tasks">155 tasks</div>
                <div class="points">880 pts</div>
            </div>
            <div class="row">
                <div class="avatar">
                    <div class="icon"></div>
                    <div class="name">Cavin Petarson</div>
                </div>
                <div class="job">Manager</div>
                <div class="tasks">138 tasks</div>
                <div class="points">670 pts</div>
            </div>
        </div>
    </div>
    <div class="footer">
       <div class="kpi">
            <div class="title">Technology & Design Team</div>
            <div class="figures">940</div>
            <span class="text">Employees</span>
       </div>
       <div class="kpi">
            <div class="title">Business & Marketing Team</div>
            <div class="figures">194</div>
            <span class="text">Employees</span>
       </div>
       <div class="kpi">
            <div class="title">Customer Operation Team</div>
            <div class="figures">712</div>
            <span class="text">Employees</span>
       </div>
    </div>
</div>
