@import 'variables';

.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .header{
        display: grid;
        width: 100%;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr) 2fr;

        .task-target{
            background-color: #fff;

        }
    }

    .body{
        display: grid;
        grid-template-columns: 3fr 3fr 4fr;
        gap: 1rem;
        flex: 1;
    }

    .footer{
        display: flex;
        gap: 1rem;

        .kpi{
            background-color: #fff;
            border-radius: .25rem;
            padding: 1rem;            

            .title{
                font-weight: 600;
                font-size: 0.7em;
                margin-bottom: 1rem;
            }

            .figures{
                font-weight: 600;
                font-size: 1.1em;
            }

            .text{
                color: $secondary-color;
                font-size: 0.7em;
                margin-top: 0.15rem;
            }
        }
    }

}