<div class="container">
    <div class="header">
        <app-header-kpi
            [total]="totalEmployees"
            [percentThisMonth]="employeesPercentThisMonth"
            [label]="'dashboard.employees.kpi.total'"
            [img]="'assets/img/users.png'"
        >    
        </app-header-kpi>
        <app-header-kpi
            [total]="totalTasks"
            [percentThisMonth]="tasksPercentThisMonth"
            [label]="'dashboard.tasks.kpi.total'"
            [img]="'assets/img/total-tasks.png'"
        >         
        </app-header-kpi>
        <app-header-kpi
            [total]="completedTasks"
            [percentThisMonth]="completedTasksPercentThisMonth"
            [label]="'dashboard.completed.tasks.kpi.total'"
            [img]="'assets/img/completed-tasks.png'"
        >         
        </app-header-kpi>             
        <app-header-kpi
            [total]="pendingTasks"
            [percentThisMonth]="pendingTasksPercentThisMonth"
            [label]="'dashboard.pending.tasks.kpi.total'"
            [img]="'assets/img/pending-tasks.png'"
        >         
        </app-header-kpi>             
        <div class="task-target">
            <div class="graph-wrapper">
                <app-tasks-vs-chart
                    *ngIf="tasks && tasks.length > 0"
                    [tasksArray]="tasks"
                ></app-tasks-vs-chart>                
            </div>
        </div>
    </div>
    <div class="body">
        <app-tasks-status-chart
            *ngIf="tasks && tasks.length > 0"
            [tasksArray]="tasks"
        ></app-tasks-status-chart>  
        <app-task-count-chart
            *ngIf="tasks && tasks.length > 0"
            [tasksArray]="tasks"
        ></app-task-count-chart>
        <app-top-employees
            *ngIf="employees && employees.length > 0"
            [listOfEmployees]="employees"
        ></app-top-employees>
    </div>
    <app-employees-team-kpi
        *ngIf="employeesByTeam && employeesByTeam.length > 0"
        [employeesTeamArray]="employeesByTeam"
    ></app-employees-team-kpi>    
</div>
<p-toast></p-toast>
