$background: #e5e5e5;
$primary-color: #6c5dd3;
$secondary-color: #b6b6b6;
$text-primary: #333333;
$light: #f7f8f9;
$light-gray: #efefef;
$red: #f14a5b;

/* Colores de las etiquetas */
$orange: #ff9f38;
$light-orange: #ffecd7;
$green: #60b158;
$light-green: #e8efe4;
$green2: #2eb67d;
$light-green2: #bff1df;
$purple: #545dad;
$light-purple: #eeeff7;
$blue: #377dff;
$light-blue: #eff2f4;
$blue2: #64cbf4;
$light-blue2: #64cbf433;
$purple2: #6c5dd3;
$light-purple2: #6c5dd333;
$lavanda: #a07dda;
$light-lavanda: #f6f2fc;
$yellow: #ffa700;
$light-yellow: #f8eedc;

$font-family: 'Poppins', sans-serif;
$transition: .4s ease-in-out;
$header-height: 4.5rem;
$menu-width: 15.5rem;