<div class="header-container">
    <img src="assets/img/logo.png" alt="Logo" class="logo">
    <div class="search-box-wrapper">
        <div class="search-box">
            <svg class='search-icon' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"></path></svg>
            <input type="text" class="app-input search-input">
        </div>
    </div>
    <button 
        (click)="openProjectWindow()"
        class="btn btn-primary new-project">+ {{ 'header.new.project.button' | translate }}
    </button>
    <div class="notification">
        <svg class="notification-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 22a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22zm7-7.414V10c0-3.217-2.185-5.927-5.145-6.742C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v4.586l-1.707 1.707A.996.996 0 0 0 3 17v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-1a.996.996 0 0 0-.293-.707L19 14.586z"></path></svg>
        <div class="notification-bullet"></div>
    </div>
    <div class="user-section">
        <img src="{{avatar$ | async}}" alt="Avatar" class="avatar">
        <div class="user-data">
            <div class="name">{{ username$ | async }}</div>
            <div class="job">{{ job$ | async }}</div>            
        </div>
        <svg 
            (click)="toggleShowMenu()"
            class="arrow" 
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
        <ul class="profile-menu"
            [ngClass]="{'profile-menu--show': showMenu}"
            >
            <li class="menu-item" (click)="openProfileWindow()">
                Open profile
            </li>
            <li class="menu-item" (click)="logout()">
                Logout
            </li>
        </ul>            
    </div>
</div>
<p-toast></p-toast>
<app-profile
    *ngIf="profileWindowOpen"
    [currentEmployee]="currentEmployee"    
    [canCloseWindow]="closingProfileWindow$"
    (saveEmployee)="saveEmployee($event)"
    (close)="closeProfileWindow()"
    (saveEmployeeWithLanguageChanged)="changeLanguageAndSave($event)"
>
</app-profile>
<app-project
    *ngIf="projectWindowOpen"
    [canCloseWindow]="closingProjectWindow$"
    (close)="closeProjectWindow()"
    (saveProject)="saveProject($event)"
></app-project>  
