<div class="container">
    <div class="title">
        Task Count
    </div>
    <canvas baseChart
      [data]="data"
      [options]="chartOptions"
      [legend]="false"
      [type]="'bar'">
    </canvas>
    <!-- <div class="summary">
        <div class="icon">

        </div>
        <div class="description">
            <div class="title">Expansion Europo</div>
            <div class="text">Global</div>
        </div>
        <div class="figures">245</div>
    </div>
    <div class="summary">
        <div class="icon">

        </div>
        <div class="description">
            <div class="title">Payment Promo</div>
            <div class="text">Commercial</div>
        </div>
        <div class="figures">122</div>
    </div> -->
</div>
