<div class="container">
    <div class="contacts">
        <div class="header">
            <span class="text">CONTACTS</span>
            <svg class="add" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="13" cy="13" r="13"/>
                <rect x="12" y="8" width="2" height="10" fill="white"/>
                <rect x="18" y="12" width="2" height="10" transform="rotate(90 18 12)" fill="white"/>
            </svg>
        </div>
        <ul class="contacts-list">
            <div class="card">
                <div class="avatar">
                    <div class="state">

                    </div>
                </div>
                <div class="body">
                    <div class="name">Bogdan Krivichenko</div>
                    <div class="last-message">Hi, how are things with the ill...</div>
                </div>
                <div class="date-time">
                    08:30
                </div>
            </div>
            <div class="card">
                <div class="avatar"></div>
                <div class="body">
                    <div class="name">Lesya Borodina</div>
                    <div class="last-message">Are you in the office yet?</div>
                </div>
                <div class="date-time">
                    08:15
                </div>
            </div>
            <div class="card">
                <div class="avatar"></div>
                <div class="body">
                    <div class="name">Sergei Filatov</div>
                    <div class="last-message">I would think about the color...</div>
                </div>
                <div class="date-time">
                    08:15
                </div>
            </div>
        </ul>
    </div>
    <div class="messages-area">
        <div class="header">
            <div class="avatar">
                <div class="state"></div>
            </div>
            <div class="current-employee">
                <div class="name">Bogdan Krivichenko</div>
                <span class="typing">Typing...</span>
            </div>            
        </div>
        <div class="conversation-area">
            <h3 class="header">08:30 Today</h3>  
            <div class="messages-area">
                <div class="me">
                    <div class="avatar"></div>
                    <div class="messages">
                        <div class="message">
                            <p class="text">
                                Hi, how are the things with the illustration builder?
                            </p>
                            <span class="time">08:30</span>
                        </div>
                        <div class="message">
                            <p class="text">
                                I found out that Lesya has completed her part of the work and is waiting for your review
                            </p>
                            <span class="time">08:30</span>
                        </div>
                        <div class="message">
                            <div class="images">
                                <div class="image"></div>
                                <div class="image"></div>
                            </div>
                            <span class="time">08:30</span>
                        </div>
                    </div>
                </div>
                <div class="other">
                    <div class="messages">
                        <div class="message">
                            <p class="text">
                                Hi, I am working on the final scenes and will show you the result in the next few days
                            </p>
                            <span class="time">08:30</span>
                        </div>
                        <div class="message">
                            <p class="text">
                                Hi, I am working on the final scenes and will show you the result in the next few days
                            </p>
                            <span class="time">08:30</span>
                        </div>
                    </div>
                    <div class="avatar"></div>
                </div>
                <div class="images">
                </div>
            </div>
            <div class="new-message">
                <div class="input-wrapper">
                    <div class="avatar"></div>
                    <input type="text" class="text" placeholder="Write your message...">
                    <div class="emoji">🙂</div>
                    <img src="assets/img/link.png" alt="Link" class="link">
                </div>
            </div>
        </div>
    </div>
</div>
