<div class="container">
    <form 
        [formGroup]="taskForm"
        [ngClass]="{'task-form--hide': closingWindow}"
        class="task-form"
        (submit)="saveTask()"
        >
        <h2 class="title">{{ 'task.new.title.label' | translate }}</h2>
        <div class="body">
            <div class="row large" *ngIf="employeeJob === 'Manager'">
                <div class="input-group">
                    <label for="employee" class="input-label large">{{ 'task.employee.label' | translate }}</label>
                    <select 
                        id="employee"
                        formControlName="employee"
                        class="app-select large"
                        [ngClass]="{'app-input--error': (employee.dirty || employee.touched) && employee.invalid}"                        
                        >
                        <option
                            *ngFor="let employee of employeesList"
                            [value]="employee.id"                            
                        >{{employee.name}}</option>
                    </select>
                    <small class="error-message" *ngIf="(employee.dirty || employee.touched) && employee.invalid">{{ 'task.employee.required' | translate }}</small>
                </div>    
                <div class="input-group">
                    <label for="project" class="input-label large">{{ 'task.project.label' | translate }}</label>
                    <select 
                        id="project"
                        formControlName="project"
                        class="app-select large"
                        [ngClass]="{'app-input--error': (project.dirty || project.touched) && project.invalid}"
                        >
                        <option
                            *ngFor="let project of projectsList"
                            [value]="project.id"
                        >{{project.name}}</option>
                    </select>
                    <small class="error-message" *ngIf="(project.dirty || project.touched) && project.invalid">{{ 'task.project.required' | translate }}</small>
                </div>    
            </div>
            <div class="input-group employeeView" *ngIf="employeeJob !== 'Manager'">
                <label for="project" class="input-label large">{{ 'task.project.label' | translate }}</label>
                <select 
                    id="project"
                    formControlName="project"
                    class="app-select large"
                    [ngClass]="{'app-input--error': (project.dirty || project.touched) && project.invalid}"
                    >
                    <option
                        *ngFor="let project of projectsList"
                        [value]="project.id"
                    >{{project.name}}</option>
                </select>
                <small class="error-message" *ngIf="(project.dirty || project.touched) && project.invalid">{{ 'task.project.required' | translate }}</small>
            </div>    
            <div class="row large">
                <div class="input-group">
                    <label for="name" class="input-label large">{{ 'task.name.label' | translate }}</label>
                    <input 
                        id="name"
                        [ngClass]="{'app-input--error': (name.dirty || name.touched) && name.invalid}"
                        formControlName="name"
                        [placeholder]="'task.name.placeholder' | translate"
                        type="text" 
                        class="app-input large">
                    <small class="error-message" *ngIf="(name.dirty || name.touched) && name.invalid">{{ 'project.name.required' | translate }}</small>
                </div>
                <div class="dates">
                    <div class="input-group">  
                        <label for="startDate" class="input-label large">{{ 'task.start.date.label' | translate }}</label>
                        <p-calendar 
                            id="startDate"
                            [dateFormat]="dateFormat"
                            formControlName="startDate"
                            [showTime]="true"
                            [minDate]="today"
                            [ngClass]="{'app-input-calendar--error': (startDate.dirty || startDate.touched) && startDate.invalid}"
                            [placeholder]="'task.start.date.placeholder' | translate"
                            styleClass="large"
                        ></p-calendar>
                        <small class="error-message" *ngIf="(startDate.dirty || startDate.touched) && startDate.invalid">{{ 'task.start.date.required' | translate }}</small>
                    </div>              
                    <div class="input-group">  
                        <label for="dueDate" class="input-label large">{{ 'task.due.date.label' | translate }}</label>
                        <p-calendar 
                            id="dueDate"
                            formControlName="dueDate"
                            [showTime]="true"
                            [dateFormat]="dateFormat"
                            [minDate]="today"
                            [ngClass]="{'app-input-calendar--error': (dueDate.dirty || dueDate.touched) && dueDate.invalid}"
                            [placeholder]="'task.due.date.placeholder' | translate"
                            styleClass="large"
                        ></p-calendar>
                        <small class="error-message" *ngIf="(dueDate.dirty || dueDate.touched) && dueDate.invalid">{{ 'task.due.date.required' | translate }}</small>
                    </div>
                </div>
            </div>
            <div class="row large">
                <div class="input-group">
                    <label for="description" class="input-label large">{{ 'project.description.label' | translate }}</label>
                    <textarea 
                        id="description"
                        [ngClass]="{'app-input--error': (description.dirty || description.touched) && description.invalid}"
                        formControlName="description"
                        rows="6"
                        [placeholder]="'project.description.placeholder' | translate"
                        class="app-textarea large"
                    ></textarea>
                    <small class="error-message" *ngIf="(description.dirty || description.touched) && description.invalid">{{ 'task.description.required' | translate }}</small>
                </div>
                <div>
                    <div class="input-group">
                        <label for="priority" class="input-label">{{ 'task.priority.label' | translate }}</label>
                        <select 
                            id="priority"
                            formControlName="priority"
                            class="app-select priority"
                            >
                            <option value="0"></option>
                            <option
                                *ngFor="let priority of priorities"
                                [value]="priority.id"
                            >{{priority.description}}</option>
                        </select>
                    </div>    
                    <div class="input-group">
                        <label for="points" class="input-label">{{ 'task.points.label' | translate }}</label>
                        <input 
                            id="points"
                            formControlName="points"
                            [placeholder]="'task.points.placeholder' | translate"
                            type="text" 
                            class="app-input">
                    </div>
                </div>
            </div>
            <div class="input-group">
                <label class="input-label large">{{ 'project.tags.label' | translate }}</label>
                <div class="tag-group">
                    <select 
                        formControlName="tag1Text"
                        class="app-select large"
                        [ngClass]="{'app-input--error': (tag1Text.dirty || tag1Text.touched) && tag1Text.invalid}"
                        (change)="changeTags()"
                        >
                        <option 
                            *ngFor="let tag of tags1"                        
                            [value]="tag.id"
                            >{{ tag.name }}</option>
                    </select>                
                    <svg *ngIf="tag1Text.value === 0"
                        class='disabled-add-tag' width="37" height="37" viewBox="0 0 37 37"  xmlns="http://www.w3.org/2000/svg">
                        <rect class='rect1' width="37" height="37" rx="9" />
                        <rect class='rect2' x="18" y="11" width="2" height="15"/>
                        <rect class='rect3' x="26" y="18" width="2" height="15" transform="rotate(90 26 18)" />
                    </svg>    
                    <svg *ngIf="tag1Text.value !== 0"
                        class='add-tag' width="37" height="37" viewBox="0 0 37 37"  xmlns="http://www.w3.org/2000/svg"
                        (click)="showTag2()">
                        <rect class='rect1' width="37" height="37" rx="9" />
                        <rect class='rect2' x="18" y="11" width="2" height="15"/>
                        <rect class='rect3' x="26" y="18" width="2" height="15" transform="rotate(90 26 18)" />
                    </svg>  
                </div>
                <small class="error-message" *ngIf="(tag1Text.dirty || tag1Text.touched) && tag1Text.invalid">{{ 'task.tag.required' | translate }}</small>
            </div>
            <div class="tag-group" *ngIf="tag2Shown">
                <select 
                    formControlName="tag2Text"
                    name="language" 
                    class="app-select large"
                    (change)="changeTags()"
                    >
                    <option 
                        *ngFor="let tag of tags2"
                        [value]="tag.id"
                        >{{ tag.name }}</option>
                </select>
                <svg *ngIf="tag2Text.value === 0"
                    class='disabled-add-tag' width="37" height="37" viewBox="0 0 37 37"  xmlns="http://www.w3.org/2000/svg">
                    <rect class='rect1' width="37" height="37" rx="9" />
                    <rect class='rect2' x="18" y="11" width="2" height="15"/>
                    <rect class='rect3' x="26" y="18" width="2" height="15" transform="rotate(90 26 18)" />
                </svg>    
                <svg *ngIf="tag2Text.value !== 0"
                        class='add-tag' width="37" height="37" viewBox="0 0 37 37"  xmlns="http://www.w3.org/2000/svg"
                        (click)="showTag3()">
                    <rect class='rect1' width="37" height="37" rx="9" />
                    <rect class='rect2' x="18" y="11" width="2" height="15"/>
                    <rect class='rect3' x="26" y="18" width="2" height="15" transform="rotate(90 26 18)" />
                </svg>  
            </div>
            <div class="tag-group" *ngIf="tag3Shown">
                <select 
                    formControlName="tag3Text"
                    name="language" 
                    class="app-select large"
                    (change)="changeTags()"
                    >
                    <option 
                        *ngFor="let tag of tags3"
                        [value]="tag.id"
                        >{{ tag.name }}</option>
                </select>           
            </div>
        </div>
        <div class="footer">
            <button 
                type="submit"
                [disabled]="!taskForm.valid"
                class="btn btn-primary half">{{ 'task.button.save' | translate }}</button>
            <button                     
                type="button" 
                class="btn btn-secondary half"
                (click)="closeWindow()"
                >{{ 'task.button.cancel' | translate }}</button>
        </div>
    </form>
</div>
