<div class="container">
    <!-- To do -->
    <div class="section">
        <div class="header">
            <h2 class="title">To do</h2>
            <span class="number">(3)</span>
        </div>
        <div class="body">
            <div class="card">
                <div class="title">
                    <h3 class="text">Slack</h3>
                    <span class="more">...</span>
                </div>
                <p class="description">This projects will need a new brand identity where they will get recongnies</p>
                <div class="tags">
                    <div class="tag">iOS App</div>
                    <div class="tag">Android</div>
                </div>
                <div class="footer">
                    <div class="comments">
                        <span class="number">3</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.411765 7C0.411765 3.36142 3.36142 0.411765 7 0.411765C10.6386 0.411765 13.5882 3.36142 13.5882 7V13.5882H7C3.36142 13.5882 0.411765 10.6386 0.411765 7Z" fill="white" stroke="#B6B6B6" stroke-width="0.82353"/>
                            <rect x="4" y="5" width="7" height="1" fill="#B6B6B6"/>
                            <rect x="4" y="8" width="6" height="1" fill="#B6B6B6"/>
                        </svg>               
                    </div>       
                    <ul class="people">
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <h3 class="text">Google</h3>
                    <span class="more">...</span>
                </div>
                <p class="description">This projects will need a new brand identity where they will get recongnies</p>
                <div class="tags">
                    <div class="tag">Branding</div>
                </div>
                <div class="footer">
                    <div class="comments">
                        <span class="number">3</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.411765 7C0.411765 3.36142 3.36142 0.411765 7 0.411765C10.6386 0.411765 13.5882 3.36142 13.5882 7V13.5882H7C3.36142 13.5882 0.411765 10.6386 0.411765 7Z" fill="white" stroke="#B6B6B6" stroke-width="0.82353"/>
                            <rect x="4" y="5" width="7" height="1" fill="#B6B6B6"/>
                            <rect x="4" y="8" width="6" height="1" fill="#B6B6B6"/>
                        </svg>           
                    </div>       
                    <ul class="people">
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <h3 class="text">Twitter</h3>
                    <span class="more">...</span>
                </div>
                <p class="description">This projects will need a new brand identity where they will get recongnies</p>
                <div class="tags">
                    <div class="tag">Website</div>
                </div>
                <div class="footer">
                    <div class="comments">
                        <span class="number">3</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.411765 7C0.411765 3.36142 3.36142 0.411765 7 0.411765C10.6386 0.411765 13.5882 3.36142 13.5882 7V13.5882H7C3.36142 13.5882 0.411765 10.6386 0.411765 7Z" fill="white" stroke="#B6B6B6" stroke-width="0.82353"/>
                            <rect x="4" y="5" width="7" height="1" fill="#B6B6B6"/>
                            <rect x="4" y="8" width="6" height="1" fill="#B6B6B6"/>
                        </svg>              
                    </div>       
                    <ul class="people">
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- In Progress -->
    <div class="section">
        <div class="header">
            <h2 class="title">In Progress</h2>
            <span class="number">(3)</span>
        </div>
        <div class="body">
            <div class="card">
                <div class="title">
                    <h3 class="text">Twitter</h3>
                    <span class="more">...</span>
                </div>
                <p class="description">This projects will need a new brand identity where they will get recongnies</p>
                <div class="tags">
                    <div class="tag">Website</div>
                </div>
                <div class="footer">
                    <div class="comments">
                        <span class="number">3</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.411765 7C0.411765 3.36142 3.36142 0.411765 7 0.411765C10.6386 0.411765 13.5882 3.36142 13.5882 7V13.5882H7C3.36142 13.5882 0.411765 10.6386 0.411765 7Z" fill="white" stroke="#B6B6B6" stroke-width="0.82353"/>
                            <rect x="4" y="5" width="7" height="1" fill="#B6B6B6"/>
                            <rect x="4" y="8" width="6" height="1" fill="#B6B6B6"/>
                        </svg>                
                    </div>       
                    <ul class="people">
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <h3 class="text">Maxxis Tyres</h3>
                    <span class="more">...</span>
                </div>
                <p class="description">This projects will need a new brand identity where they will get recongnies</p>
                <div class="tags">
                    <div class="tag">iOS App</div>
                    <div class="tag">Android</div>
                </div>
                <div class="footer">
                    <div class="comments">
                        <span class="number">3</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.411765 7C0.411765 3.36142 3.36142 0.411765 7 0.411765C10.6386 0.411765 13.5882 3.36142 13.5882 7V13.5882H7C3.36142 13.5882 0.411765 10.6386 0.411765 7Z" fill="white" stroke="#B6B6B6" stroke-width="0.82353"/>
                            <rect x="4" y="5" width="7" height="1" fill="#B6B6B6"/>
                            <rect x="4" y="8" width="6" height="1" fill="#B6B6B6"/>
                        </svg>              
                    </div>       
                    <ul class="people">
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <h3 class="text">Maxxis Tyres</h3>
                    <span class="more">...</span>
                </div>
                <p class="description">This projects will need a new brand identity where they will get recongnies</p>
                <div class="tags">
                    <div class="tag">Iot</div>
                    <div class="tag">AR</div>
                </div>
                <div class="footer">
                    <div class="comments">
                        <span class="number">3</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.411765 7C0.411765 3.36142 3.36142 0.411765 7 0.411765C10.6386 0.411765 13.5882 3.36142 13.5882 7V13.5882H7C3.36142 13.5882 0.411765 10.6386 0.411765 7Z" fill="white" stroke="#B6B6B6" stroke-width="0.82353"/>
                            <rect x="4" y="5" width="7" height="1" fill="#B6B6B6"/>
                            <rect x="4" y="8" width="6" height="1" fill="#B6B6B6"/>
                        </svg>               
                    </div>       
                    <ul class="people">
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Completed -->
    <div class="section">
        <div class="header">
            <h2 class="title">Completed</h2>
            <span class="number">(3)</span>
        </div>
        <div class="body">
            <div class="card">
                <div class="title">
                    <h3 class="text">Twitter</h3>
                    <span class="more">...</span>
                </div>
                <p class="description">This projects will need a new brand identity where they will get recongnies</p>
                <div class="tags">
                    <div class="tag">Website</div>
                </div>
                <div class="footer">
                    <div class="comments">
                        <span class="number">3</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.411765 7C0.411765 3.36142 3.36142 0.411765 7 0.411765C10.6386 0.411765 13.5882 3.36142 13.5882 7V13.5882H7C3.36142 13.5882 0.411765 10.6386 0.411765 7Z" fill="white" stroke="#B6B6B6" stroke-width="0.82353"/>
                            <rect x="4" y="5" width="7" height="1" fill="#B6B6B6"/>
                            <rect x="4" y="8" width="6" height="1" fill="#B6B6B6"/>
                        </svg>               
                    </div>       
                    <ul class="people">
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <h3 class="text">Maxxis Tyres</h3>
                    <span class="more">...</span>
                </div>
                <p class="description">This projects will need a new brand identity where they will get recongnies</p>
                <div class="tags">
                    <div class="tag">iOS App</div>
                    <div class="tag">Android</div>
                </div>
                <div class="footer">
                    <div class="comments">
                        <span class="number">3</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.411765 7C0.411765 3.36142 3.36142 0.411765 7 0.411765C10.6386 0.411765 13.5882 3.36142 13.5882 7V13.5882H7C3.36142 13.5882 0.411765 10.6386 0.411765 7Z" fill="white" stroke="#B6B6B6" stroke-width="0.82353"/>
                            <rect x="4" y="5" width="7" height="1" fill="#B6B6B6"/>
                            <rect x="4" y="8" width="6" height="1" fill="#B6B6B6"/>
                        </svg>            
                    </div>       
                    <ul class="people">
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <h3 class="text">Maxxis Tyres</h3>
                    <span class="more">...</span>
                </div>
                <p class="description">This projects will need a new brand identity where they will get recongnies</p>
                <div class="tags">
                    <div class="tag">Iot</div>
                    <div class="tag">AR</div>
                </div>
                <div class="footer">
                    <div class="comments">
                        <span class="number">3</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.411765 7C0.411765 3.36142 3.36142 0.411765 7 0.411765C10.6386 0.411765 13.5882 3.36142 13.5882 7V13.5882H7C3.36142 13.5882 0.411765 10.6386 0.411765 7Z" fill="white" stroke="#B6B6B6" stroke-width="0.82353"/>
                            <rect x="4" y="5" width="7" height="1" fill="#B6B6B6"/>
                            <rect x="4" y="8" width="6" height="1" fill="#B6B6B6"/>
                        </svg>               
                    </div>       
                    <ul class="people">
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                        <li class="avatar"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>