<div class="container">
    <form class="profile-form" 
        [ngClass]="{'profile-form--hide': closingWindow}"
        (ngSubmit)="save()"
        [formGroup]="profileForm">
        <h1 class="title">{{'employee.header.label' | translate }}</h1>
        <div class="header">
            <img src="{{avatar$ | async}}" alt="Avatar" class="avatar">
            <h2 class="name">{{ username.value }}</h2>
        </div>
        <div class="body">
            <div class="input-group">
                <label for="email" class="input-label large">{{ 'employee.label.email' | translate }}</label>
                <input 
                    formControlName="email"
                    type="text" 
                    class="app-input large">
            </div>
            <div class="input-group">
                <label for="name" class="input-label large">{{ 'employee.label.name' | translate }}</label>
                <input 
                    formControlName="username"
                    type="text" 
                    class="app-input"
                    [ngClass]="{'app-input--error': (username.touched || username.dirty) && !username.valid}">
                <small 
                    *ngIf="(username.touched || username.dirty) && username.errors?.['required']"
                    class="error-message">{{ 'employee.error.name.required' | translate }}</small>
            </div>
            <div class="input-group">
                <label for="job" class="input-label large">{{ 'employee.label.job' | translate }}</label>
                <input 
                    formControlName="job"
                    type="text" 
                    class="app-input large"
                    [ngClass]="{'app-input--error': (job.touched || job.dirty) && !job.valid}">
                <small 
                    *ngIf="(job.touched || job.dirty) && job.errors?.['required']"
                    class="error-message">{{ 'employee.error.job.required' | translate }}</small>
            </div>
            <div class="input-group">
                <label for="points" class="input-label large">{{ 'employee.label.points' | translate }}</label>
                <input 
                    formControlName="points"
                    type="text" 
                    class="app-input large">
            </div>
            <div class="input-group">
                <label for="rol" class="input-label large">{{ 'employee.label.rol' | translate }}</label>
                <input 
                    formControlName="rol"
                    type="text" 
                    class="app-input large">
            </div>
            <div class="input-group">
                <label for="language" class="input-label large">{{ 'employee.label.language' | translate }}</label>
                <select 
                    formControlName="language"
                    name="language" 
                    class="app-select large">
                    <option value="en">{{ 'label.language.english' | translate }}</option>
                    <option value="es">{{ 'label.language.spanish' | translate }}</option>
                </select>
            </div>        
        </div>
        <div class="footer">
            <button 
                type="submit"
                [disabled]="!profileForm.valid"
                class="btn btn-primary large">{{ 'employee.button.save' | translate }}</button>
            <button type="button" class="btn btn-secondary large" (click)="closeWindow()">{{ 'employee.button.cancel' | translate }}</button>
        </div>
    </form>
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

