@import 'variables';

.container{
    display: flex;
    justify-content: center;           
    flex-direction: column;  
    gap: 1rem;
    position: relative;    

    .title{
        text-align: center;
        margin-top: 1rem;
        font-weight: 600;        
    }

    .label{
        display: block;
        text-align: center;
        width: 5rem;
        position: absolute;                
        bottom: 10%;          
        left: 50%;
        margin-left: -2.5rem;

        .figure{
            font-weight: 600;
            font-size: 1.2em; 
            margin-bottom: 0.25rem;
        }

        .text{
            font-size: 0.7em; 
            color: $secondary-color;
        }
    }
}